{% extends 'base.html' %}
{% load static %}

{% block title %}Sign-Up{% endblock %}

{% block content %}
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ user_form.username.id_for_label }}"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ user_form.username }}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.email.id_for_label }}"><i class="zmdi zmdi-email"></i></label>
                                {{ user_form.email }}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.password.id_for_label }}"><i class="zmdi zmdi-lock"></i></label>
                                {{ user_form.password }}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.password2.id_for_label }}"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{ user_form.password2 }}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}