<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Collaborate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base_camp/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="button login">
            <div class="button-text">Login</div>
        </div>
        <div class="button signup">
            <div class="button-text">Sign up</div>
        </div>
        <div class="logo-container">
            <div class="logo-text">COLLABORATE</div>
        </div>
        <img class="logo-img" src="media/my_base_camp/logo.png" alt=""/>
        <div class="tagline">
            A project management tool for developers
        </div>
    </div>
</body>
</html>
